In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, round

In [27]:
spark = SparkSession.builder.master("local[*]").appName("Basics 1").getOrCreate()

In [28]:
data = [("Dinkar", 24), ("Mandeep", 23), ("Raj", 22)]
columns = ["name", "age"]

In [29]:
data1 = [{"Name":"Dinkar", "Disg":"Data Scientist"},{"Name":"Nissarg", "Disg":"Teaching assistent"},{"Name":"Mandeep", "Disg":"Data Scientist"}]

In [ ]:
df1 = spark.read.csv("./sales.csv", header=True, inferSchema=True, )

In [49]:
df1.show()

+--------+----------+-----------+------+---+---------+----------+--------------+--------+-----+--------+--------------+
|order_id|order_date|customer_id|gender|age|     city|   product|      category|quantity|price|discount|payment_method|
+--------+----------+-----------+------+---+---------+----------+--------------+--------+-----+--------+--------------+
|    1001|2024-03-29|       C072|     M| 38|  Kolkata|       Fan|Home Appliance|       3| 1160|       7|    Debit Card|
|    1002|2025-01-12|       C150|  NULL| 19|Hyderabad|      Iron|Home Appliance|       4|44431|       7|          Cash|
|    1003|2025-07-02|       C161|     F| 39|Ahmedabad|     Jeans|       Apparel|       4| 5611|      12|   Credit Card|
|    1004|2025-02-04|       C271|     F| 64|Bengaluru|      Iron|Home Appliance|    NULL|18731|      10|          Cash|
|    1005|2025-02-01|       C135|     M| 26|  Kolkata|       Fan|Home Appliance|       1|31851|       7|    Debit Card|
|    1006|2023-11-29|       C053|     F| 37|  Kolkata|     Shoes|      Footwear|       2|74269|       0|          Cash|
|    1007|2025-04-30|       C002|     F| 23|   Jaipur|Smartwatch|   Electronics|       4|36220|       5|    Debit Card|
|    1008|2024-01-17|       C218|     F| 51|     Pune|   Sandals|      Footwear|       3| 9992|       5|          Cash|
|    1009|2025-01-06|       C053|     F| 43|Ahmedabad|    Tablet|   Electronics|       1|23547|       5|          Cash|
|    1010|2025-04-25|       C065|     M| 24|Ahmedabad|     Boots|      Footwear|       3|38344|      12|   Credit Card|
|    1011|2025-04-19|       C081|     F| 52|Bengaluru|     Boots|      Footwear|       3|48490|    NULL|   Credit Card|
|    1012|2025-07-17|       C041|     F| 24|Ahmedabad|   Toaster|Home Appliance|       3| 3861|       5|          Cash|
|    1013|2025-03-13|       C099|     F| 57|   Jaipur|   T-shirt|       Apparel|       2|35522|      12|           UPI|
|    1014|2025-06-28|       C257|     M| 43|  Kolkata| Microwave|Home Appliance|    NULL| 8410|       7|           UPI|
|    1015|2025-08-01|       C063|     F| 56|   Mumbai|    Laptop|   Electronics|       1|23719|       7|          Cash|
|    1016|2024-08-08|       C143|     M| 46|     Pune|Headphones|   Electronics|       1|18441|      12|           EMI|
|    1017|2025-02-06|       C284|     F| 59|Ahmedabad|  Sneakers|      Footwear|       3|75750|    NULL|           EMI|
|    1018|2025-02-07|       C128|     F| 45|     NULL|     Shirt|       Apparel|       4|69463|      15|   Credit Card|
|    1019|2025-07-03|       C116|     M| 58|Bengaluru| iPhone 13|   Electronics|       2|67142|       0|           UPI|
|    1020|2025-08-12|       C160|     F| 41|Ahmedabad|    Tablet|   Electronics|       4|13845|       7|          Cash|
+--------+----------+-----------+------+---+---------+----------+--------------+--------+-----+--------+--------------+
only showing top 20 rows

In [31]:
df = spark.createDataFrame(data, columns)
df.limit(20).collect()

[Row(name='Dinkar', age=24),
 Row(name='Mandeep', age=23),
 Row(name='Raj', age=22)]

In [32]:
df = spark.createDataFrame(data1)
df.limit(20).collect()

[Row(Disg='Data Scientist', Name='Dinkar'),
 Row(Disg='Teaching assistent', Name='Nissarg'),
 Row(Disg='Data Scientist', Name='Mandeep')]

In [36]:
a = [1,2,3]
b = ["one","two","three"]

c = zip(a,b)

In [59]:
df.show()

+------------------+-------+
|              Disg|   Name|
+------------------+-------+
|    Data Scientist| Dinkar|
|Teaching assistent|Nissarg|
|    Data Scientist|Mandeep|
+------------------+-------+

In [56]:
df1 = df1.withColumn(
    "discount_amount",
    round(col("price") * (col("discount") / 100), 2)
)

In [ ]:
col("price").isNull()

TypeError: Column.isNull() takes 1 positional argument but 2 were given

In [57]:
df1.show()

+--------+----------+-----------+------+---+---------+----------+--------------+--------+-----+--------+--------------+---------------+
|order_id|order_date|customer_id|gender|age|     city|   product|      category|quantity|price|discount|payment_method|discount_amount|
+--------+----------+-----------+------+---+---------+----------+--------------+--------+-----+--------+--------------+---------------+
|    1001|2024-03-29|       C072|     M| 38|  Kolkata|       Fan|Home Appliance|       3| 1160|       7|    Debit Card|           81.2|
|    1002|2025-01-12|       C150|  NULL| 19|Hyderabad|      Iron|Home Appliance|       4|44431|       7|          Cash|        3110.17|
|    1003|2025-07-02|       C161|     F| 39|Ahmedabad|     Jeans|       Apparel|       4| 5611|      12|   Credit Card|         673.32|
|    1004|2025-02-04|       C271|     F| 64|Bengaluru|      Iron|Home Appliance|    NULL|18731|      10|          Cash|         1873.1|
|    1005|2025-02-01|       C135|     M| 26|  Kolkata|       Fan|Home Appliance|       1|31851|       7|    Debit Card|        2229.57|
|    1006|2023-11-29|       C053|     F| 37|  Kolkata|     Shoes|      Footwear|       2|74269|       0|          Cash|            0.0|
|    1007|2025-04-30|       C002|     F| 23|   Jaipur|Smartwatch|   Electronics|       4|36220|       5|    Debit Card|         1811.0|
|    1008|2024-01-17|       C218|     F| 51|     Pune|   Sandals|      Footwear|       3| 9992|       5|          Cash|          499.6|
|    1009|2025-01-06|       C053|     F| 43|Ahmedabad|    Tablet|   Electronics|       1|23547|       5|          Cash|        1177.35|
|    1010|2025-04-25|       C065|     M| 24|Ahmedabad|     Boots|      Footwear|       3|38344|      12|   Credit Card|        4601.28|
|    1011|2025-04-19|       C081|     F| 52|Bengaluru|     Boots|      Footwear|       3|48490|    NULL|   Credit Card|           NULL|
|    1012|2025-07-17|       C041|     F| 24|Ahmedabad|   Toaster|Home Appliance|       3| 3861|       5|          Cash|         193.05|
|    1013|2025-03-13|       C099|     F| 57|   Jaipur|   T-shirt|       Apparel|       2|35522|      12|           UPI|        4262.64|
|    1014|2025-06-28|       C257|     M| 43|  Kolkata| Microwave|Home Appliance|    NULL| 8410|       7|           UPI|          588.7|
|    1015|2025-08-01|       C063|     F| 56|   Mumbai|    Laptop|   Electronics|       1|23719|       7|          Cash|        1660.33|
|    1016|2024-08-08|       C143|     M| 46|     Pune|Headphones|   Electronics|       1|18441|      12|           EMI|        2212.92|
|    1017|2025-02-06|       C284|     F| 59|Ahmedabad|  Sneakers|      Footwear|       3|75750|    NULL|           EMI|           NULL|
|    1018|2025-02-07|       C128|     F| 45|     NULL|     Shirt|       Apparel|       4|69463|      15|   Credit Card|       10419.45|
|    1019|2025-07-03|       C116|     M| 58|Bengaluru| iPhone 13|   Electronics|       2|67142|       0|           UPI|            0.0|
|    1020|2025-08-12|       C160|     F| 41|Ahmedabad|    Tablet|   Electronics|       4|13845|       7|          Cash|         969.15|
+--------+----------+-----------+------+---+---------+----------+--------------+--------+-----+--------+--------------+---------------+
only showing top 20 rows