In [23]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

Generating PySpark Session

In [11]:
from pyspark.sql import SparkSession

In [12]:
spark = SparkSession.builder.master("local[*]").appName("").getOrCreate()

Import Libraries

In [42]:
from pyspark.sql.functions import col, when, count, lag, avg, stddev
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression, RandomForestRegressor
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql import functions as F
from pyspark.sql.window import Window

Load Data

In [43]:
df = spark.read.csv("./BMW sales data (2010-2024).csv", header=True, inferSchema=True)

In [16]:
df.printSchema()

root
 |-- Model: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Engine_Size_L: double (nullable = true)
 |-- Mileage_KM: integer (nullable = true)
 |-- Price_USD: integer (nullable = true)
 |-- Sales_Volume: integer (nullable = true)
 |-- Sales_Classification: string (nullable = true)

EDA

In [29]:
df.limit(5).toPandas()
df.describe().toPandas()

,summary,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,count,50000,50000,50000,50000,50000,50000,49999,50000,50000,50000,50000
1,mean,None,2017.0157,None,None,None,None,3.2471749434988695,100307.20314,75034.6009,5067.51468,None
2,stddev,None,4.324459218093149,None,None,None,None,1.0090878552174578,57941.509343524616,25998.248881722793,2856.7671252296077,None
3,min,3 Series,2010,Africa,Black,Diesel,Automatic,1.5,3,30000,100,High
4,max,i8,2024,South America,White,Petrol,Manual,5.0,199996,119998,9999,Low

In [30]:
#null count
nulls = df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).toPandas()
nulls

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,0,0,0,0,0,0,1,0,0,0,0

In [ ]:
df.show()

+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|   Model|Year|       Region| Color|Fuel_Type|Transmission|Engine_Size_L|Mileage_KM|Price_USD|Sales_Volume|Sales_Classification|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|5 Series|2016|         Asia|   Red|   Petrol|      Manual|          3.5|    151748|    98740|        8300|                High|
|      i8|2013|North America|   Red|   Hybrid|   Automatic|          1.6|    121671|    79219|        3428|                 Low|
|5 Series|2022|North America|  Blue|   Petrol|   Automatic|          4.5|     10991|   113265|        6994|                 Low|
|      X3|2024|  Middle East|  Blue|   Petrol|   Automatic|          1.7|     27255|    60971|        4047|                 Low|
|7 Series|2020|South America| Black|   Diesel|      Manual|          2.1|    122131|    49898|        3080|                 Low|
|5 Series|2017|  Middle East|Silver|   Diesel|      Manual|          1.9|    171362|    42926|        1232|                 Low|
|      i8|2022|       Europe| White|   Diesel|      Manual|          1.8|    196741|    55064|        7949|                High|
|      M5|2014|         Asia| Black|   Diesel|   Automatic|          1.6|    121156|   102778|         632|                 Low|
|      X3|2016|South America| White|   Diesel|   Automatic|          1.7|     48073|   116482|        8944|                High|
|      i8|2019|       Europe| White| Electric|      Manual|          3.0|     35700|    96257|        4411|                 Low|
|3 Series|2012|  Middle East| White| Electric|      Manual|          2.4|    101595|   117995|         500|                 Low|
|      i8|2016|North America|  Blue|   Hybrid|      Manual|          1.9|    116863|    74539|        8252|                High|
|7 Series|2020|North America|Silver|   Diesel|   Automatic|          3.8|     27403|   100015|        8111|                High|
|5 Series|2020|       Africa| White| Electric|      Manual|          2.3|    163444|   119486|        4668|                 Low|
|      X1|2017|         Asia| Black| Electric|   Automatic|          1.6|    107918|    34078|        7291|                High|
|      M3|2014|North America|Silver|   Hybrid|      Manual|          3.0|    154050|    94997|        7765|                High|
|      X5|2013|         Asia|  Blue| Electric|      Manual|          2.6|    110142|   114844|        5561|                 Low|
|      M5|2017|North America|   Red|   Diesel|   Automatic|          2.6|     86900|    81934|        9755|                High|
|5 Series|2017|North America|Silver| Electric|      Manual|          3.1|     57843|   111326|        4880|                 Low|
|      X5|2012|       Africa|  Blue| Electric|      Manual|          3.8|    142243|    82677|        7104|                High|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
only showing top 20 rows

In [31]:
df.show(5)

+--------+----+-------------+-----+---------+------------+-------------+----------+---------+------------+--------------------+
|   Model|Year|       Region|Color|Fuel_Type|Transmission|Engine_Size_L|Mileage_KM|Price_USD|Sales_Volume|Sales_Classification|
+--------+----+-------------+-----+---------+------------+-------------+----------+---------+------------+--------------------+
|5 Series|2016|         Asia|  Red|   Petrol|      Manual|         NULL|    151748|    98740|        8300|                High|
|      i8|2013|North America|  Red|   Hybrid|   Automatic|          1.6|    121671|    79219|        3428|                 Low|
|5 Series|2022|North America| Blue|   Petrol|   Automatic|          4.5|     10991|   113265|        6994|                 Low|
|      X3|2024|  Middle East| Blue|   Petrol|   Automatic|          1.7|     27255|    60971|        4047|                 Low|
|7 Series|2020|South America|Black|   Diesel|      Manual|          2.1|    122131|    49898|        3080|                 Low|
+--------+----+-------------+-----+---------+------------+-------------+----------+---------+------------+--------------------+
only showing top 5 rows

In [32]:
df.select("Model", "Year").show()

+--------+----+
|   Model|Year|
+--------+----+
|5 Series|2016|
|      i8|2013|
|5 Series|2022|
|      X3|2024|
|7 Series|2020|
|5 Series|2017|
|      i8|2022|
|      M5|2014|
|      X3|2016|
|      i8|2019|
|3 Series|2012|
|      i8|2016|
|7 Series|2020|
|5 Series|2020|
|      X1|2017|
|      M3|2014|
|      X5|2013|
|      M5|2017|
|5 Series|2017|
|      X5|2012|
+--------+----+
only showing top 20 rows

In [35]:
df.filter(df.Year > 2020).show()

+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|   Model|Year|       Region| Color|Fuel_Type|Transmission|Engine_Size_L|Mileage_KM|Price_USD|Sales_Volume|Sales_Classification|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|5 Series|2022|North America|  Blue|   Petrol|   Automatic|          4.5|     10991|   113265|        6994|                 Low|
|      X3|2024|  Middle East|  Blue|   Petrol|   Automatic|          1.7|     27255|    60971|        4047|                 Low|
|      i8|2022|       Europe| White|   Diesel|      Manual|          1.8|    196741|    55064|        7949|                High|
|      X5|2021|South America|   Red|   Diesel|      Manual|          2.2|    184981|    47527|        6273|                 Low|
|      X3|2023|  Middle East| White| Electric|   Automatic|          4.1|    194398|    85370|        4645|                 Low|
|      M5|2021|         Asia|   Red|   Hybrid|   Automatic|          3.0|    105162|    32076|        9469|                High|
|      i8|2021|South America|Silver|   Diesel|      Manual|          4.8|      3188|    64577|         448|                 Low|
|      X1|2022|  Middle East|  Grey|   Hybrid|      Manual|          4.3|    143013|   116432|        4926|                 Low|
|      M5|2021|South America|  Grey|   Petrol|   Automatic|          3.3|     88342|   108240|        4561|                 Low|
|      i3|2024|  Middle East|   Red|   Petrol|   Automatic|          3.5|    135958|    69578|         173|                 Low|
|      X5|2021|       Africa|   Red|   Diesel|      Manual|          3.4|     99697|    60278|        2913|                 Low|
|      X5|2021|  Middle East| Black|   Petrol|   Automatic|          4.3|     44279|    96256|        7627|                High|
|      X5|2024|South America| Black|   Hybrid|      Manual|          3.6|    111661|    82675|        2155|                 Low|
|      i8|2023|       Europe|  Blue|   Diesel|   Automatic|          3.8|     78573|   118317|        7168|                High|
|      i3|2023|North America|Silver|   Petrol|   Automatic|          4.9|     94453|    79039|        8283|                High|
|5 Series|2024|         Asia|  Blue| Electric|      Manual|          3.7|    157789|    86855|         648|                 Low|
|      X6|2023|       Africa| White|   Hybrid|   Automatic|          2.8|     84367|   112542|        7933|                High|
|      X3|2021|         Asia|Silver|   Hybrid|   Automatic|          3.8|     57759|   119692|        6782|                 Low|
|3 Series|2021|North America| Black|   Hybrid|   Automatic|          3.9|     87632|    65089|         660|                 Low|
|3 Series|2023|       Europe| Black| Electric|      Manual|          2.8|    128295|    86402|        4266|                 Low|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
only showing top 20 rows

In [36]:
df2 = df.withColumn("Vehicle_age", 2024 - col("Year"))

In [40]:
df2.show()

+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+-----------+
|   Model|Year|       Region| Color|Fuel_Type|Transmission|Engine_Size_L|Mileage_KM|Price_USD|Sales_Volume|Sales_Classification|Vehicle_age|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+-----------+
|5 Series|2016|         Asia|   Red|   Petrol|      Manual|         NULL|    151748|    98740|        8300|                High|          8|
|      i8|2013|North America|   Red|   Hybrid|   Automatic|          1.6|    121671|    79219|        3428|                 Low|         11|
|5 Series|2022|North America|  Blue|   Petrol|   Automatic|          4.5|     10991|   113265|        6994|                 Low|          2|
|      X3|2024|  Middle East|  Blue|   Petrol|   Automatic|          1.7|     27255|    60971|        4047|                 Low|          0|
|7 Series|2020|South America| Black|   Diesel|      Manual|          2.1|    122131|    49898|        3080|                 Low|          4|
|5 Series|2017|  Middle East|Silver|   Diesel|      Manual|          1.9|    171362|    42926|        1232|                 Low|          7|
|      i8|2022|       Europe| White|   Diesel|      Manual|          1.8|    196741|    55064|        7949|                High|          2|
|      M5|2014|         Asia| Black|   Diesel|   Automatic|          1.6|    121156|   102778|         632|                 Low|         10|
|      X3|2016|South America| White|   Diesel|   Automatic|          1.7|     48073|   116482|        8944|                High|          8|
|      i8|2019|       Europe| White| Electric|      Manual|          3.0|     35700|    96257|        4411|                 Low|          5|
|3 Series|2012|  Middle East| White| Electric|      Manual|          2.4|    101595|   117995|         500|                 Low|         12|
|      i8|2016|North America|  Blue|   Hybrid|      Manual|          1.9|    116863|    74539|        8252|                High|          8|
|7 Series|2020|North America|Silver|   Diesel|   Automatic|          3.8|     27403|   100015|        8111|                High|          4|
|5 Series|2020|       Africa| White| Electric|      Manual|          2.3|    163444|   119486|        4668|                 Low|          4|
|      X1|2017|         Asia| Black| Electric|   Automatic|          1.6|    107918|    34078|        7291|                High|          7|
|      M3|2014|North America|Silver|   Hybrid|      Manual|          3.0|    154050|    94997|        7765|                High|         10|
|      X5|2013|         Asia|  Blue| Electric|      Manual|          2.6|    110142|   114844|        5561|                 Low|         11|
|      M5|2017|North America|   Red|   Diesel|   Automatic|          2.6|     86900|    81934|        9755|                High|          7|
|5 Series|2017|North America|Silver| Electric|      Manual|          3.1|     57843|   111326|        4880|                 Low|          7|
|      X5|2012|       Africa|  Blue| Electric|      Manual|          3.8|    142243|    82677|        7104|                High|         12|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+-----------+
only showing top 20 rows

In [47]:
df.groupBy("Region").agg(F.sum("Sales_Volume")).show()

+-------------+-----------------+
|       Region|sum(Sales_Volume)|
+-------------+-----------------+
|       Europe|         42555138|
|       Africa|         41565252|
|North America|         42402629|
|South America|         41551818|
|  Middle East|         42326620|
|         Asia|         42974277|
+-------------+-----------------+